.gridHolder{
  text-align: center;
  display: inline-block;
  overflow:visible;
  height: fit-content;
}

.rowHolder{
  display: flex;
  justify-content: space-evenly;
}

.projectCard{
  margin-bottom: 2%;
  margin-top: 1%;
  background-color:#dbab80;
  border-radius: 10px;
  outline-width: 2px;
  outline-color: #684515;
  outline-style: solid;
  padding: 1%;
  margin-inline: 2%;
  display: flex;
  height: 50%;
}

.projectImg{
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.projectTitleLine{
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectTitle{
  font-size: 8vmin;
}

.engineImg{
  height:100%;
  aspect-ratio: 1;
  padding: 1%;
  outline: none;
}

.projectDisc{
  aspect-ratio: 4;
  font-size: 2.5vmin;
  margin: 0;
}

.everythingElse{
  height:100%;
  padding-inline: 1%;
  position:relative;
  display: inline;
}

.info{
  position:absolute;
  bottom:0;
  width: 100%;
  font-size: 1.8vmin;
  vertical-align: bottom;
  padding-bottom: 1%;
}

.info a{
  font-size: 1.8vmin;
  background-color: #c7956a;
  padding: 1%;
  padding-inline: 2%;
  margin-inline-end: 1%;
  outline:solid;
}

.info a:hover{
  background-color: #a2773c;
}
.info a:active{
  background-color: #a2773c;
}